<div class="center hero-unit">
 <h1>Upanishad Information</h1>
<h2 class="Sanskrit">
ॐ पूर्णमदः पूर्णमिदं पूर्णात्पूर्णमुदच्यते ।
पूर्णस्य पूर्णमादाय पूर्णमेवावशिष्यते । ॐ शान्तिः शान्तिः शान्तिः ॥
</h2>
   <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
